<p>Welcome Page</p>
<div class="container container-styles">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="h1">Welcome</div>
      <div class="h3">To get staretd, we're going to walk you through</div>
      <button type="button" class="btn btn-primary">Continue</button>
      <!-- <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary btn-outline">
        Continue
      </button> -->
    </div>
  </div>
</div>
